Adobe Premiere Pro Auto-Save
.idea
.DS_Store

_website/_webroot/11mp3
transcript_backups
Adobe Premiere Pro Video Previews
Adobe Premiere Pro Audio Previews
First Steps
logs
support
\!unused_prototypes
__pycache__/